In [77]:
import pandas as pd
import random

exercises_list = ['Squats', 'Deadlifts', 'Bench Press', 'Pull-Ups', 'Overhead Press', 
                  'Lunges', 'Rows', 'Planks', 'Leg Press', 'Lat Pulldowns', 
                  'Chest Flyes', 'Bicep Curls', 'Tricep Dips', 'Hammer Curls', 
                  'Russian Twists', 'Calf Raises', 'Face Pulls', 'Leg Curls', 
                  'Dumbbell Rows', 'Incline Press', 'Side Planks', 'Arnold Press', 
                  'Seated Rows', 'Leg Extensions', 'Push-Ups', 'Crunches']

def format_exercise(exercises, sets, reps):
    if reps == 3:
        rep_format = '10-8-6'
    elif reps == 4:
        rep_format = '12-10-8-6'
    else:
        rep_format = 'Unknown Rep Format'

    exercise_str = ', '.join(exercises)
    return f"{exercise_str}, {sets} sets ({rep_format} reps)"

data = {
    'Plan': [f'Plan {chr(65 + i)}' for i in range(26)],  # 'A' to 'Z'
    'Exercise': [format_exercise(random.sample(exercises_list, k=random.randint(3, 4)),
                                 sets, reps) for sets, reps in zip([3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4],
                                                                 [3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4])],
}

df = pd.DataFrame(data)
print(df)

      Plan                                           Exercise
0   Plan A  Leg Press, Russian Twists, Face Pulls, 3 sets ...
1   Plan B  Squats, Lat Pulldowns, Hammer Curls, Bicep Cur...
2   Plan C  Calf Raises, Arnold Press, Hammer Curls, 3 set...
3   Plan D  Arnold Press, Leg Extensions, Side Planks, 4 s...
4   Plan E  Lunges, Leg Press, Rows, Bench Press, 3 sets (...
5   Plan F  Planks, Arnold Press, Push-Ups, Lunges, 4 sets...
6   Plan G  Bench Press, Overhead Press, Seated Rows, Leg ...
7   Plan H  Leg Curls, Dumbbell Rows, Seated Rows, 4 sets ...
8   Plan I  Leg Extensions, Planks, Overhead Press, Lat Pu...
9   Plan J  Pull-Ups, Leg Press, Calf Raises, Rows, 4 sets...
10  Plan K  Lunges, Side Planks, Russian Twists, 3 sets (1...
11  Plan L  Tricep Dips, Leg Curls, Bicep Curls, Overhead ...
12  Plan M  Calf Raises, Push-Ups, Squats, Leg Curls, 3 se...
13  Plan N  Leg Press, Arnold Press, Leg Extensions, 4 set...
14  Plan O       Rows, Pull-Ups, Planks, 3 sets (10-8-6 reps)
15  Plan P  Leg Press, Lunges, Lat Pulldowns, 4 sets (12-1...
16  Plan Q  Arnold Press, Hammer Curls, Face Pulls, 3 sets...
17  Plan R  Seated Rows, Leg Extensions, Chest Flyes, Side...
18  Plan S  Leg Extensions, Incline Press, Chest Flyes, Ca...
19  Plan T  Chest Flyes, Russian Twists, Leg Press, 4 sets...
20  Plan U  Face Pulls, Incline Press, Lat Pulldowns, Bice...
21  Plan V  Incline Press, Crunches, Overhead Press, Seate...
22  Plan W  Hammer Curls, Chest Flyes, Seated Rows, Overhe...
23  Plan X  Arnold Press, Leg Curls, Incline Press, 4 sets...
24  Plan Y  Incline Press, Hammer Curls, Calf Raises, 3 se...
25  Plan Z  Seated Rows, Bicep Curls, Squats, Tricep Dips,...

In [78]:
df['Exercise'][0]

'Leg Press, Russian Twists, Face Pulls, 3 sets (10-8-6 reps)'

In [83]:
import pandas as pd
import numpy as np

# Generate dummy data
np.random.seed(42)

# Create a DataFrame with 100 rows
data = pd.DataFrame({
    'age': np.random.randint(18, 60, 1000),
    'height': np.random.randint(150, 190, 1000),
    'sex': np.random.choice(['female', 'male'], 1000),
    'days_to_goal': np.random.randint(30, 180, 1000),
    'activity_level': np.random.randint(1, 6, 1000),
    'experience': np.random.randint(1, 6, 1000)
})

# Assign a dummy workout_plan with 26 different plans ('Plan A' to 'Plan Z')
# This is just for illustration; you should replace it with your actual workout plan data
data['Plan'] = np.random.choice([f'Plan {chr(65 + i)}' for i in range(26)], 1000)

# Print the DataFrame
print(data)

     age  height     sex  days_to_goal  activity_level  experience    Plan
0     56     178  female           108               4           4  Plan W
1     46     153  female           145               5           4  Plan E
2     32     161  female           121               5           1  Plan T
3     25     151  female            43               1           1  Plan O
4     38     176    male           154               3           2  Plan R
..   ...     ...     ...           ...             ...         ...     ...
995   41     159    male           130               4           1  Plan D
996   32     182  female            54               2           3  Plan U
997   46     154    male           141               2           1  Plan F
998   25     184    male           155               2           4  Plan A
999   22     183  female           152               4           5  Plan D

[1000 rows x 7 columns]

In [84]:
data

     age  height     sex  days_to_goal  activity_level  experience    Plan
0     56     178  female           108               4           4  Plan W
1     46     153  female           145               5           4  Plan E
2     32     161  female           121               5           1  Plan T
3     25     151  female            43               1           1  Plan O
4     38     176    male           154               3           2  Plan R
..   ...     ...     ...           ...             ...         ...     ...
995   41     159    male           130               4           1  Plan D
996   32     182  female            54               2           3  Plan U
997   46     154    male           141               2           1  Plan F
998   25     184    male           155               2           4  Plan A
999   22     183  female           152               4           5  Plan D

[1000 rows x 7 columns]

In [86]:
shit = pd.merge(data, df, on="Plan")

In [87]:
shit = shit.drop('Plan', axis=1)

In [88]:
shit

,age,height,sex,days_to_goal,activity_level,experience,Exercise
0,56,178,female,108,4,4,"Hammer Curls, Chest Flyes, Seated Rows, Overhe..."
1,35,178,male,109,1,1,"Hammer Curls, Chest Flyes, Seated Rows, Overhe..."
2,43,172,male,143,4,5,"Hammer Curls, Chest Flyes, Seated Rows, Overhe..."
3,25,185,male,130,4,3,"Hammer Curls, Chest Flyes, Seated Rows, Overhe..."
4,57,170,male,139,2,3,"Hammer Curls, Chest Flyes, Seated Rows, Overhe..."
...,...,...,...,...,...,...,...
995,20,174,female,122,1,3,"Leg Press, Russian Twists, Face Pulls, 3 sets ..."
996,40,175,female,123,4,1,"Leg Press, Russian Twists, Face Pulls, 3 sets ..."
997,51,185,female,134,5,4,"Leg Press, Russian Twists, Face Pulls, 3 sets ..."
998,38,171,female,138,4,5,"Leg Press, Russian Twists, Face Pulls, 3 sets ..."
999,25,184,male,155,2,4,"Leg Press, Russian Twists, Face Pulls, 3 sets ..."

In [91]:
shit['Exercise'].nunique()

26

In [93]:
# Assuming 'df' is your DataFrame
shit.to_csv('output_file.csv', index=False)